<!-- average claim per airport -->
<div class="column col-12">
  <div class="panel">
    <div class="panel-header centered">
      <div class="panel-title">Average Claim Amount Per Month</div>
    </div>
    <div class="panel-body centered">

      <!-- bar graph -->
      <canvas id="barChart" width="800" height="400"></canvas>


    </div>
    <div class="panel-footer centered">
      <select id="airportSelect">
        <option>Choose an airport</option>
      </select>
    </div>
  </div>
</div>